<div class="container">
  <div class="search">
    <div class="search-header">
      <img src="./../assets/githubpng.png" alt="Github" />
      <div class="search-header--text">
        <h1>Github Searcher</h1>
        <span>Search users or repositories below</span>
      </div>
    </div>
    <div class="inputs-wrapper">
      <select>
        <option value="">users</option>
        <option value="">repositories</option>
      </select>
      <input class="loading" type="text" placeholder="type to search.." />
    </div>
  </div>
</div>
